.lead__subtitle {
    margin: 1.23em auto 0px;

    max-width: 583px;

    text-align: center;
}

@media screen and (max-width: 1023px) {
    .lead__subtitle {
        max-width: unset;
    }
}

@media screen and (max-width: 375px) {
    .lead__subtitle {
        margin-top: 13px;
    }
}
