@import url('./__copyright/footer__copyright.css');
@import url('./__link/footer__link.css');

.footer {
    margin: 161px 0px 39px 0px;

    align-items: baseline;
    display: flex;
    justify-content: space-between;
}
