.emblem__container {
    margin-top: 74px;

    column-gap: 36px;
    display: grid;
    grid-auto-columns: 208px;
    grid-template-columns: repeat(auto-fill, 208px);
    grid-template-rows: auto;
    justify-content: center;
    row-gap: 72px;
}
