.cover__background {
    padding-top: 50%;

    background:url('../../../images/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen
       and (max-width: 1024px)
       and (min-width: 376px) {
    .cover__background {
        padding-top:54.8%;
    }
}

@media screen and (max-width: 375px) {
    .cover__background {
        padding-top:72.3%;
    }
}
