/* Здесь специально в одном файле, чтобы было легко отслеживать
   бардак дизайнера: почти на каждый стиль а-ля заголовок по 4, в лучшем случае,
   варианта */

.text_body {
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.text_callout {
    font-size: 10px;
    line-height: 16px;
}

.text_card-heading {
    font-size: 27px;
    line-height: 29px;
}

.text_factoid {
    font-size: 13px;
    line-height: 20px;
}

.text_image-caption {
    font-size: 10px;
    letter-spacing: 0.15em;
    line-height: 12px;
    text-transform: uppercase;
}

.text_small {
    font-size: 14px;
    line-height: 24px;
}

.text_small-compressed {
    font-size: 14px;
    line-height: 20px;
}

.text_subtitle {
    font-size: 24px;
    line-height: 35px;
}

.text_subtitle-compressed {
    font-size: 24px;
    line-height: 26px;
}

.text_subtitle-lead {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.text_subtitle-small {
    font-size: 18px;
    line-height: 26px;
}

.text_title {
    font-size: 72px;
    line-height: 78px;
}

.text_title-compressed {
    font-size: 72px;
    line-height: 65px;
}

.text_title-lead {
    font-size: 96px;
    line-height: 92px;
    text-align: center;
}

.text_title-mini {
    font-size: 42px;
    line-height: 46px;
}

.text_title-small {
    font-size: 54px;
    line-height: 59px;
}

.text-decoration_underline {
    text-decoration-line: underline;
    text-underline-position: under;
}

.text-weight_normal {
    font-weight: normal;
}

.text-weight_bold {
    font-weight: bold;
}

.text-weight_black {
    font-weight: 900;
}
