@import url('./_no-hover/link_no-hover.css');
@import url('./_with-caption/link_with-caption.css');

.link {
    color: white;
    text-decoration: none;
}

.link:not(.link_no-hover):hover {
    opacity: 0.7;
    transition: opacity 0.15s ease-out;
}
