.root__cover {
    margin: 97px auto 0px;
}

@media screen
       and (max-width: 1024px)
       and (min-width: 376px)  {
    .root__cover {
        margin-top: 102px;
    }
}

@media screen and (max-width: 375px) {
    .root__cover {
        margin-top: 49px;
    }
}
