.video__container {
    margin-top: 64px;

    column-gap: 18px;
    display: grid;
    grid-auto-rows: 323px;
    grid-template-columns: repeat(auto-fill, 583px);
    justify-content: center;
    row-gap: 18px;
}

@media screen
       and (max-width: 1279px)
       and (min-width: 1024px) {
    .video__container {
        column-gap: 16px;
        grid-auto-rows: 288px;
        grid-template-columns: repeat(auto-fill, 456px);
    }
}

@media screen
       and (max-width: 1023px)
       and (min-width: 400px) {
    .video__container {
        margin-top: 48px;

        column-gap: 16px;
        grid-auto-rows: 200px;
        grid-template-columns: repeat(auto-fill, 352px);
    }
}

@media screen and (max-width: 400px) {
    .video__container {
        margin-top: 28px;

        grid-auto-rows: 200px;
        grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
        row-gap: 8px;
    }
}
