@import url('./__copyright/footer__copyright.css');
@import url('./__link/footer__link.css');

.footer {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .footer {
        align-items: unset;
        justify-content: unset;
        flex-direction: column;
    }
}
