.lead__image-wrapper {
    margin: 71px auto 0px;
    max-width: 984px;
}

@media screen
       and (max-width: 1120px)
       and (min-width: 1024px) {
    .lead__image-wrapper {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media screen and (max-width: 375px) {
    .lead__image-wrapper {
        margin-top: 33px;
    }
}
