.root__photo-grid {
    margin-top: 97px;
}

@media screen
       and (max-width: 1024px)
       and (min-width: 769px) {
    .root__photo-grid {
        margin-top: 105px;
    }
}

@media screen
       and (max-width: 768px)
       and (min-width: 376px) {
    .root__photo-grid {
        margin-top: 95px;
    }
}

@media screen
       and (max-width: 375px) {
    .root__photo-grid {
        margin-top: 70px;
    }
}
