.comments__item {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .comments__item {
         align-items: center;
    }

    .comments__item :nth-child(2) {
        order: 1;
    }
}
