.places__text {
    margin: 1.33em 0px 0px 0px;
}

.places__text:first-child {
    margin-top: -4px;
}

@media screen and (max-width: 711px) {
    .places__text {
        margin-top: 23px;
    }
    .places__text:first-child {
        margin-top: 14px;
    }
}
