.footer__link {
    margin-left: 13px;
}

.footer__link:first-child {
    margin: 0px;
}

@media screen and (max-width: 700px) {
    .footer__link {
        margin: 14px 0px 0px 0px;
        display: block;

    }

    .footer__link:first-child {
        margin: 0px;
    }
}
