@import url('./__photo/photo-grid__photo.css');

.photo-grid {
    column-gap: calc(0.5rem + 0.3vw);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    justify-content: center;
    row-gap: calc(0.5rem + 0.3vw);
}
